<% include header %>

  <div class="profileContainer">
    <div class="grid -fixed -p2 pb1">
      <div class="grid-col">
        <a href="<%- image_path %>?attachment=true" class="button">Download</a>
      </div>
      <div class="grid-col">
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%- profile_url %>" class="button">
          Share
        </a>
      </div>
    </div>

    <img src="<%- image_path %>" />
  </div>
<% include footer %>
