<% include header %>

  <div ng-view></div>

  <script src="/static/js/image-load.js"></script>
  <script src="/static/js/draggy.js"></script>
  <script src="/assets/app.bundle.js"></script>
<% include footer %>
