<% include header %>

  <p>
    Our Kansas City Royals treated us to an amazing season, and easily one of the most memorable Octobers ever. Show your gratitude to
    Salvy, Gordo, Country Breakfast, Mr. Zoombiya, and the rest of the boys in blue with a <em>Thanks! KC</em> logo on your profile photo.
  </p>
  <p>
    Upload the profile photo of your liking, and our patented <i>BeRoyaler Technology</i> will touch it
    up with gratitude and memories.
  </p>


  <fileupload></fileupload>

<% include footer %>
