
.fileField {
  border: 2px dashed rgba(255,255,255,.5);
  background: rgba(white, .1);
  position: relative;
  input {
    padding: 33px 50%;
    opacity: 0;
    width: 0;
    height: 0;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
  .instructions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .button {
    position: absolute;
    top: 4px;
    right: 4px;
    left: 4px;
    bottom: 4px;
    z-index: 1;
  }
}
